# Kconfig - GARDENA SGRMT1 board configuration
#
# Copyright (c) 2019 Reto Schneider
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_GARDENA_SGRMT1

config BOARD_INIT_PRIORITY
	int

	# omit prompt to signify a "hidden" option
	default KERNEL_INIT_PRIORITY_DEFAULT
	help
	  Board initialization priority. This must be bigger than
	  GPIO_SIM3_COMMON_INIT_PRIORITY.

endif # BOARD_GARDENA_SGRMT1
