# Gecko and Si32 SDK

# Copyright (c) 2017, Christian Taedcke
# SPDX-License-Identifier: Apache-2.0

config HAS_SILABS_GECKO
	bool
	select HAS_CMSIS_CORE
	depends on SOC_GECKO

config HAS_SILABS_SI32
	bool
	select HAS_CMSIS_CORE
