/*
 * Copyright (c) 2026 Reto Schneider
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <nordic/nrf52840_partition.dtsi>
#include <zephyr/dt-bindings/led/led.h>
#include "aqua_precise-pinctrl.dtsi"

/ {
	model = "GARDENA AquaPrecise";
	compatible = "gardena,boac-nrf52840", "nordic,nrf52840";

	chosen {
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,console = &uart0;
		zephyr,flash = &flash0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio1 13 (GPIO_ACTIVE_HIGH)>;
			label = "Push button switch 0";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	stepper_driver: stepper_driver {
		compatible = "zephyr,gpio-stepper-driver";
		status = "okay";

		en-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH)>;
	};

	h_bridge_stepper: h_bridge_stepper {
		compatible = "zephyr,h-bridge-stepper-ctrl";
		lut-step-gap = <1>;
		status = "okay";

		gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH)>, /* Lead A1/A */
		        <&gpio0 25 (GPIO_ACTIVE_HIGH)>, /* Lead B1/B */
		        <&gpio0 21 (GPIO_ACTIVE_HIGH)>, /* Lead A2/C */
		        <&gpio0 11 (GPIO_ACTIVE_HIGH)>; /* Lead B2/D */
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		sw0 = &button0;
		stepper-driver = &stepper_driver;
		stepper-ctrl = &h_bridge_stepper;
		watchdog0 = &wdt0;
	};
};

&reg0 {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&uicr {
	gpio-as-nreset;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;

	/* TI LP5009 LED controller for HMI connected to i2c0. */
	lp5009@14 {
		compatible = "ti,lp5009";
		reg = <0x14>;
		enable-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;

		/* The LEDs have a stange mapping due to the schematics. */
		led_ble {
			label = "LED Bluetooth";
			index = <0>;
			color-mapping = <LED_COLOR_ID_BLUE>; /* OUT0 */
		};
		led_power { /* hardware wiring is wrong, messes up the drivers logic */
			label = "LED Power";
			index = <0>;
			color-mapping = <LED_COLOR_ID_SKIP    /* OUT0 - used by BLE LED! */
			                 LED_COLOR_ID_RED     /* OUT1 */
			                 LED_COLOR_ID_GREEN>; /* OUT2 */
		};
		led_watering {
			label = "LED Watering";
			index = <1>;
			color-mapping = <LED_COLOR_ID_BLUE>; /* OUT3 */
		};
	};
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};
