# Copyright (c) 2026 Reto Schneider
#
# SPDX-License-Identifier: Apache-2.0

# Enable serial instead of UART ACM because serial is usable early on
CONFIG_SERIAL=y

# Shell is THE way to interact with the hardware during development
CONFIG_SHELL=y

# Needed for many peripherals, including the user button
CONFIG_GPIO=y
CONFIG_GPIO_SHELL=y

# I2C is needed for the LED drivers
CONFIG_I2C=y
CONFIG_I2C_SHELL=y

# HMI LEDs use the LED subsystem
CONFIG_LED=y
CONFIG_LED_SHELL=y
