#
# Copyright (c) 2017 Christian Taedcke
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_FAMILY_PRECISION32
	bool
	# omit prompt to signify a "hidden" option

if SOC_FAMILY_PRECISION32
config SOC_FAMILY
	string
	default "silabs_precision32"

source "soc/arm/silabs_precision32/*/Kconfig.soc"

config SOC_PART_NUMBER
	string
	default SOC_PART_NUMBER_PRECISION32_SIM3U167 if SOC_SERIES_SIM3U
	help
	  This string holds the full part number of the SoC. It is a hidden option
	  that you should not set directly. The part number selection choice defines
	  the default value for this string.

endif # SOC_FAMILY_PRECISION32
