# Kconfig - Gardena smart Radio Module configuration
#
# Copyright (c) 2017 Christian Taedcke
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_GARDENA_SMART_RADIO_MODULE

config BOARD_INIT_PRIORITY
	int

	# omit prompt to signify a "hidden" option
	default KERNEL_INIT_PRIORITY_DEFAULT
	depends on GPIO
	help
	  Board initialization priority. This must be bigger than
	  GPIO_PRECISION32_COMMON_INIT_PRIORITY.

endif # BOARD_GARDENA_SMART_RADIO_MODULE
