# Kconfig - Gardena smart Radio Module
#
# Copyright (c) 2017, Christian Taedcke
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_GARDENA_SMART_RADIO_MODULE
	bool "Gardena smart Radio Module"
	depends on SOC_SERIES_SIM3U
	select SOC_PART_NUMBER_SIM3U167
