# Kconfig - Gardena smart Radio Module
#
# Copyright (c) 2017, Christian Taedcke
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_GARDENA_SMART_RADIO_MODULE

config BOARD
	default "gardena_smart_radio_module"

if GPIO_PRECISION32

config GPIO_PRECISION32_PORTBANK_0
	def_bool y

config GPIO_PRECISION32_PORTBANK_1
	def_bool y

config GPIO_PRECISION32_PORTBANK_2
	def_bool y

config GPIO_PRECISION32_PORTBANK_3
	def_bool y

config GPIO_PRECISION32_PORTBANK_4
	def_bool y

endif # GPIO_PRECISION32

if UART_PRECISION32

config UART_PRECISION32_0
	def_bool y

config UART_PRECISION32_0_GPIO_LOC
	default 0

endif # UART_PRECISION32

endif # BOARD_GARDENA_SMART_RADIO_MODULE
