# Kconfig - Precision32 SDK UART
#
# Copyright (c) 2017, Christian Taedcke
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig UART_PRECISION32
	bool "Precision32 uart driver"
	depends on HAS_SILABS_PRECISION32
	depends on GPIO_PRECISION32
	select SERIAL_HAS_DRIVER
	help
	  Enable the Precision32 uart driver.

if UART_PRECISION32

menuconfig UART_PRECISION32_0
	bool "UART 0"
	help
	  Enable UART 0.

if UART_PRECISION32_0

config UART_PRECISION32_0_GPIO_LOC
	int "Pin Locations"
	range 0 3
	depends on UART_PRECISION32
	help
	  The GPIO pins to use.

endif # UART_PRECISION32_0

menuconfig UART_PRECISION32_1
	bool "UART 1"
	help
	  Enable UART 1.

if UART_PRECISION32_1

config UART_PRECISION32_1_GPIO_LOC
	int "Pin Locations"
	range 0 3
	depends on UART_PRECISION32
	help
	  The GPIO pins to use.

endif # UART_PRECISION32_1

menuconfig USART_PRECISION32_0
	bool "USART 0"
	help
	  Enable USART 0.

if USART_PRECISION32_0

config USART_PRECISION32_0_GPIO_LOC
	int "Pin Locations"
	range 0 3
	depends on UART_PRECISION32
	help
	  The GPIO pins to use.

endif # USART_PRECISION32_0

menuconfig USART_PRECISION32_1
	bool "USART 1"
	help
	  Enable USART 1.

if USART_PRECISION32_1

config USART_PRECISION32_1_GPIO_LOC
	int "Pin Locations"
	range 0 3
	depends on UART_PRECISION32
	help
	  The GPIO pins to use.

endif # USART_PRECISION32_1

endif # UART_PRECISION32
