# Kconfig - SiM3 UART
#
# Copyright (c) 2019, Christian Taedcke
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig UART_SIM3
	bool "SiM3 UART/USART driver"
	depends on SOC_FAMILY_SIM3
	depends on GPIO_SIM3
	depends on (SOC_SERIES_SIM3U_CROSSBAR_0 || SOC_SERIES_SIM3U_CROSSBAR_1)
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select SOC_SIM3_USART
	help
	  Enable the SiM3 uart driver.

if UART_SIM3

config UART_SIM3_0
	bool "Enable SiM3 UART 0"
	help
	  Enable support for SiM3 UART0 port in the driver. Say y here if you
	  want to use UART0 device.

config UART_SIM3_1
	bool "Enable SiM3 UART 1"
	help
	  Enable support for SiM3 UART1 port in the driver. Say y here if you
	  want to use UART1 device.

config USART_SIM3_0
	bool "Enable SiM3 USART 0"
	help
	  Enable support for SiM3 USART0 port in the driver. Say y here if you
	  want to use USART0 device.

config USART_SIM3_1
	bool "Enable SiM3 USART 1"
	help
	  Enable support for SiM3 USART1 port in the driver. Say y here if you
	  want to use USART1 device.

endif # UART_SIM3
