CONFIG_SOC_SERIES_SIM3U=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=20000000

# Enable all supported hardware
CONFIG_SERIAL=y
CONFIG_GPIO=y
CONFIG_FLASH=y

# Put UART0 RX/TX on PB1.12/PB1.13
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_0_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_1_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_2_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_3_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_4_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_5_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_6_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_7_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_8_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_9_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_10_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_11_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_12_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_13_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_14_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB0_15_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_0_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_1_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_2_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_3_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_4_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_5_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_6_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_7_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_8_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_9_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_10_SKIP=y
CONFIG_SOC_SERIES_SIM3U_CROSSBAR_0_PB1_11_SKIP=y

# Simplifying debugging
CONFIG_SHELL=y
